*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  margin: auto;
  width: 375px;
  height: 100vh;
  padding: 20px;
  background-color: black;
  color: whitesmoke;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drinks{
  display: flex;
  flex-direction: column;
}

.grill{
  display: flex;
  flex-direction: column;
}